[submodule "JayVora-SerpentCS/fleet_management"]
	path = JayVora-SerpentCS/fleet_management
	url = git@github.com:JayVora-SerpentCS/fleet_management.git
	branch = 12.0

[submodule "JayVora-SerpentCS/SerpentCS_Contributions"]
	path = JayVora-SerpentCS/SerpentCS_Contributions
	url = git@github.com:JayVora-SerpentCS/SerpentCS_Contributions.git
	branch = 12.0

[submodule "JayVora-SerpentCS/DOST"]
	path = JayVora-SerpentCS/DOST
	url = git@github.com:JayVora-SerpentCS/DOST.git
	branch = 12.0

[submodule "JayVora-SerpentCS/Community_Portal"]
	path = JayVora-SerpentCS/Community_Portal
	url = git@github.com:JayVora-SerpentCS/Community_Portal.git
	branch = 12.0

[submodule "gityopie/odoo-addons"]
	path = gityopie/odoo-addons
	url = git@github.com:gityopie/odoo-addons.git
	branch = 9.0

[submodule "gityopie/99"]
	path = gityopie/99
	url = git@github.com:gityopie/odoo-addons.git
	branch = 12.0

[submodule "OCA/product-attribute"]
	path = OCA/product-attribute
	url = git@github.com:OCA/product-attribute.git
	branch = 12.0
